{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Portfolio / gallery-->
<section id="portfolio" class="gallery">
  <div class="container clearfix">
    <div class="menu">
      <div class="col-md-12">
        <div class="menu">
          <div class="col-md-12 col-lg-8">
            <h2 class="heading">{% block title %}Erro 404!{% endblock %}</h2>
            <p>Essa página não foi encontrada</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}