{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Portfolio / gallery-->
<section id="comocomprar" class="comocomprar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <h2 class="heading">{% block title %}POLÍTICA DE COMPRA E TROCA{% endblock %}</h2>
          <div class="row">
            <div class="comprar">
              <div class="container">
              <p>
                  A Loja Virtual Georgina Nogueira foi feita com todo o carinho para atender as clientes que não possam vir ao ateliê em Parnaíba. Se você mora em Parnaíba o ideal é que venha até nosso ateliê e leve sua compra sem o acréscimo do frete.
              </p>
            </div>
              <ul>

                <li>
                  <h5>Como Comprar?</h5>

                  Antes de finalizar sua compra leia atentamente algumas instruções para que sua peça chegue perfeita! Ao escolher suas peças atente-se para as medidas especificadas a seguir, assim como a disponibilidade de cores e tipos de tecido.
                  <table class="table">
                    <thead>
                        <td>TAMANHO</td>
                        <td>BUSTO</td>
                        <td>CINTURA</td>
                        <td>QUADRIL</td>
                    </thead>
                    <tbody>
                      <tr>
                        <td>P</td>
                        <td>86-89 cm</td>
                        <td>70-73 cm </td>
                        <td>98-101 cm</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>90-94 cm</td>
                        <td>74-78 cm</td>
                        <td>102-104 cm</td>
                      </tr>
                      <tr>
                        <td>G</td>
                        <td>95-98 cm</td>
                        <td>78-82 cm</td>
                        <td>106-108 cm</td>
                      </tr>
                    </tbody>
                  </table>

                  Por se tratar de peças com detalhes artesanais, existe um período mínimo de confecção, por isso peço que entendam a demora no envio, ainda mais se não a tivermos em estoque, ou se tiver que ser feita sob medida. Trabalhamos com tecidos nobres, tais como, cambraia de algodão, linho, seda, musseline, sarja e malhas de tecelagens renomadas. 
                </li>
                <li>
                  <h5>Formas de Pagamento:</h5>
                  Depósito em conta corrente (dependendo do valor da compra, podemos fazer um parcelamento)
                  Banco do Brasil
                  Agencia 0023-X
                  Conta Corrente 13.503-8
                  Titular: Georgina C. L. Nogueira
                </li>
                <li>
                  <h5>Finalizando sua compra / Compromisso:</h5>
                  Ao finalizar a compra você está assumindo o compromisso de adquirir o produto selecionado e impedindo que a loja o disponibilize para outro cliente. Do mesmo modo, quando você finaliza a sua compra estamos assumindo o compromisso de encaminhar seus produtos tais quais as opções escolhidas no ato de sua compra e qualquer adversidade que possa surgir, estamos dispostos a resolver o que for da nossa alçada. Para isso precisamos que entre em contato conosco, mais uma vez, através de email. 
                </li>
                <li>
                  <h5>Prazo de Envio:</h5>
                  Seu pedido será encaminhado no prazo de 30 (trinta) a 45 (quarenta e cinco) dias úteis após a confirmação do pagamento. Verifique no site dos Correios digitando o CEP da loja (64204-480) e o CEP do local de destino, o prazo para entrega via PAC ou SEDEX, conforme solicitado. Não nos responsabilizamos por danos causados a peça após a postagem.
                </li>
                <li>
                  <h5>Política de Troca:</h5>
                  Todas as peças disponíveis no site estão com suas respectivas medidas. Verifique a sua numeração com o uso de uma fita métrica, de preferência por uma costureira profissional, antes de finalizar seu pedido para que não haja dúvida.
                  Se você não tem experiência de comprar roupas pela Internet ou sua medida não corresponde exatamente ao especificado no produto você pode entrar em contato conosco para maiores esclarecimentos ou possíveis ajustes a serem feitos antes da peça ser enviada. Lembrando que esse contato deverá ser feito preferencialmente por telefone.
                  As peças serão encaminhadas após serem revisadas, sem vício ou defeito, mas se ainda sim você tiver a necessidade de trocá-las, a troca é feita pelo mesmo produto na numeração desejada, sujeita a disponibilidade de estoque ou por um produto do mesmo valor, caso o produto adquirido não conste mais no estoque. Neste caso, o frete adicional será pago pela cliente. Lembrando que é obrigatória a presença do tag da marca. A troca poderá ser feita em até 5 (cinco) dias úteis após o recebimento do produto, desde que não apresente avarias. Essa transação pode ser negociada por email ou telefone.
                </li>
                <li>
                  <h5>Presentes:</h5>
                  Caso deseje presentear uma pessoa, solicite embalagem especial, sem acréscimos.
                </li>
                <li>
                  <h5>Dúvidas / Contato/ Sugestões:</h5>
                  Entre em contato conosco através dos telefones: (86) 3321-1932, (86) 9407-5945 ou (86) 8877 1932 ou através do email: georginanogueira@hotmail.com 
                  <p>Boas compras!</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}