<!doctype html>
{% load static %}
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} | Georgina Nogueira</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<body data-spy="scroll" data-target="#navigation" data-offset="120">
</body>
</html>